/* 滚动条里面可以拖动的那部分 */
*::-webkit-scrollbar-thumb {
  background-color: var(--theme-font-dark);
  border-radius: 5px;
}

/* 滚动条里面可以拖动的那部分 */
*::-webkit-scrollbar-thumb:hover {
  background-color: var(--theme-font-dark);
}

/* 滚动条里面可以拖动的那部分 */
*::-webkit-scrollbar-thumb:active {
  background-color: var(--theme-font-dark);
}

body {
  width: 100vw;
  height: 100vh;
}

.icon {
  width: 35px;
  height: 35px;
  margin-right: 20px;
}